{% extends "base.html" %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云 - {{ user.nickname }} {{ title }}{% endblock %}

{% block page_content %}
<section id="top" class="three">
    <div class="container">
        <header>
            <div style="text-align:left">
                <h2>{{ user.nickname }} {{ title }}</h2>
            </div>
            <table class="table table-hover followers">
                <thead><tr><th>用户</th><th>开始时间</th></tr></thead>
                {% for follow in follows %}
                    {% if follow.user != user %}
                        <tr>
                            <td  style="text-align:left">
                                <a href="{{ url_for('.user', id=follow.user.uid, _external=True) }}">
                                <img class="img-rounded" src="{{ follow.user.gravatar(size=32) }}">
                                {{ follow.user.nickname }}
                                </a>
                            </td>
                            <td  style="text-align:left">{{ moment(follow.timestamp).format('L') }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <div class="pagination">
                {{ macros.pagination_widget(pagination, endpoint, id=user.uid) }}
            </div>
        </header>
    </div>
</section>
{% endblock %}
