<ul class="posts">
    {% for message in messages %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', id=message.sender.uid) }}">
                <img class="img-rounded profile-thumbnail" src="{{ message.sender.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">时间：{{ moment(message.created).fromNow() }}</div>
            <div class="post-author">
                <a href="{{ url_for('main.user', id=message.sender.uid) }}">
                    {{ message.sender.nickname }}
                </a>
            </div>

            <div>
            {% if not message.viewed and message.receiver == current_user %}
                <b>
                <p class="text-warning">
                    {{ message.message }}
                </p>
                </b>
            {% else %}
                <p class="text-mute">
                    {{ message.message }}
                </p>
            {% endif %}
            </div>

            <div class="post-footer">
                {% if current_user == message.sender %}
	            <a href="{{ url_for('main.delete_message',id=message.mesid) }}">
		            <span class="label label-warning">撤回</span>
		        </a>
	            {% endif %}
                {% if message.receiver == current_user %}
                    {% if not message.viewed %}
                    <a href="{{ url_for('main.close_message', id = message.mesid) }}">
                        <span class="label label-warning">忽略</span>
                    </a>
                    {% endif %}
                {% endif %}
                {% if message.receiver == current_user or message.sender == current_user %}
                <a href="{{ url_for('main.delete_message', id = message.mesid) }}">
                    <span class="label label-danger">删除</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
