<ul class="posts">
    {% for message in messages %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', id=message.sender.uid) }}">
                <img class="img-rounded profile-thumbnail" src="{{ message.sender.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">时间：{{ moment(message.created).fromNow() }}</div>
            <div class="post-author">发送自：<a href="{{ url_for('main.chat', id=message.sender.uid) }}">{{ message.sender.nickname }}</a></div>
            {% if not message.viewed %}
            <div class="post-body alert alert-info">
                {{ message.message }}
            </div>
            {% else %}
            <div class="post-body">
                {{ message.message }}
            </div>
            {% endif %}
            <div class="post-footer">
                {% if current_user == message.sender %}
	            <a href="{{ url_for('main.delete_message',id=message.mesid) }}">
		            <span class="label label-danger">撤回</span>
		        </a>
                {% elif current_user == message.receiver %}
	            <a href="{{ url_for('main.chat',id=message.sender.uid) }}">
		            <span class="label label-success">回复</span>
		        </a>
	            {% elif current_user.is_administrator() %}
	            <a href="{{ url_for('main.delete_message',id=message.mesid) }}">
		            <span class="label label-danger">删除 [管理员]</span>
		        </a>
	            {% endif %}
                {% if message.receiver == current_user %}
                    <a href="{{ url_for('main.close_message', id = message.mesid) }}">
                        <span class="label label-warning">忽略</span>
                    </a>
                    <a href="{{ url_for('main.delete_message', id = message.mesid) }}">
                        <span class="label label-danger">删除</span>
		            </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
