<ul class="posts">
    {% for message, count in messages %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', id=message.sender.uid) }}">
                <img class="img-rounded profile-thumbnail" src=
                        "
                        {% if message.sender == current_user %}
                        {{ message.receiver.gravatar(size=40) }}
                        {% else %}
                        {{ message.sender.gravatar(size=40) }}
                        {% endif %}"
                >
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">时间：{{ moment(message.created).fromNow() }}</div>
            <div class="post-author">
                与
                {% if message.sender == current_user %}
                <a href="{{ url_for('main.chat', id=message.receiver.uid) }}">
                    {{ message.receiver.nickname }}
                </a>
                {% else %}
                <a href="{{ url_for('main.chat', id=message.sender.uid) }}">
                    {{ message.sender.nickname }}
                </a>
                {% endif %}
                的聊天
                {% if count > 1 or (count == 1 and ((message.viewed and message.receiver==current_user) or message.sender==current_user)) %}
                 （还有{{ count }}条未读消息未显示）
                {% endif %}
            </div>
            <div>
            {% if not message.viewed and message.receiver == current_user %}
                <b>
                <p class="text-warning">
                    {{ message.message }}
                </p>
                </b>
            {% else %}
                <p class="text-mute">
                    {{ message.message }}
                </p>
            {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == message.receiver %}
                <a href="{{ url_for('main.chat', id=message.sender.uid) }}">
		            <span class="label label-success">回复</span>
                </a>
                {% else %}
                <a href="{{ url_for('main.chat', id=message.receiver.uid) }}">
		            <span class="label label-success">回复</span>
                </a>
                {% endif %}

                {% if count >= 1 %}
                    {% if message.receiver == current_user %}
                        <a href="{{ url_for('main.close_chat', id = message.sender.uid) }}">
                            <span class="label label-warning">忽略全部未读消息</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('main.close_chat', id = message.receiver.uid) }}">
                            <span class="label label-warning">忽略全部未读消息</span>
                        </a>
                    {% endif %}
                {% endif %}
                {% if message.receiver == current_user %}
                <a href="{{ url_for('main.delete_chat', id = message.sender.uid) }}">
                    <span class="label label-danger">删除对话</span>
                </a>
                {% else %}
                <a href="{{ url_for('main.delete_chat', id = message.receiver.uid) }}">
                    <span class="label label-danger">删除对话</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
