{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云 - 与 {{ sender.nickname }} 的聊天{% endblock %}

{% block page_content %}
<div>
    <h2 style="display:inline">与 {{ sender.nickname }} 的聊天</h2>
    <div style="float:right">
        <a href="{{ url_for('main.chat', id=sender.uid) }}">
            <button type="button" class="btn btn-success">
                刷新
            </button>
        </a>
    </div>
</div>

{% if messages %}
<div class="post-tabs">
    {% include 'main/_chats.html' %}
</div>
{% else %}
<div class="post-tabs">
    <p>你们还没有聊过天，现在开始吧！</p>
</div>
{% endif %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.chat', id=sender.uid) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
