{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云 - 拷贝到{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-8">
        {% if _file %}
        <h2>将 {{ _file.path ~ _file.filename }} 拷贝到 {{ _path }}</h2>
        {% endif %}
    </div>

    <div class="col-md-4 right-button-margin" style="text-align:right">
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <a href="{{ url_for('main.copy_check', path=_path, id=_file.uid) }}">
                <button type="button" class="btn btn-success">确认拷贝</button>
            </a>
            {% endif %}

            {% if _order == "time" %}
                {% if _direction == "front" %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='time', path=_path, direction='reverse') }}">
                    <button type="button" class="btn btn-primary">按时间排序</button>
                </a>
                {% else %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='time', path=_path, direction='front') }}">
                    <button type="button" class="btn btn-warning">按时间排序</button>
                </a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='time', path=_path, direction='front') }}">
                    <button type="button" class="btn btn-default">按时间排序</button>
                </a>
            {% endif %}

            {% if _order == "name" %}
                {% if _direction == "front" %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='name', path=_path, direction='reverse') }}">
                    <button type="button" class="btn btn-primary">按文件名排序</button>
                </a>
                {% else %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='name', path=_path, direction='front') }}">
                    <button type="button" class="btn btn-warning">按文件名排序</button>
                </a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('main.copy', id=_file.uid, order='name', path=_path, direction='front') }}">
                    <button type="button" class="btn btn-default">按文件名排序</button>
                </a>
            {% endif %}
    </div>
</div>

<div class="link-block">
    当前路径：
    {% for __path, _pathView in pathlists %}
        <a class="link-item" href="{{ url_for('main.copy', path=__path, id=_file.uid) }}">
            {{ _pathView }}</a>
    {% endfor %}
</div>

<div class="post-tabs">
    {% if files %}
    {% include 'main/_copyownfiles.html' %}
    {% else %}
    <p>已经不可以再继续了哦~</p>
    {% endif %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.copy', type=_type,
        order=_order, direction=_direction, path=_path, id=_file.uid) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
