{% extends "base.html" %}
{% import "main/_macros.html" as macros %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 评论管理{% endblock %}

{% block page_content %}
<section id="top" class="three">
    <div class="container">
        <header>
            <div>
                <form method="POST" action="{{ url_for('main.moderate_comments') }}">
                    {{ form.hidden_tag() }}
                    {{ form.key(class="form-control", placeholder="根据关键字检索评论") }}
                </form>
            </div>

            <div style="text-align:left">
                {% set moderate = True %}
                {% include 'main/_comments.html' %}
            </div>

            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.moderate_comments') }}
            </div>
            {% endif %}
        </header>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
