{% extends "base.html" %}
{% import "main/_macros.html" as macros %}
{% block title %}顶点云 - {{ user.nickname }}{% endblock %}

{% block page_content %}
<section id="top" class="three">
    <div class="container">
        <header>
            <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=224) }}">
            <div>
                <span><b>昵称：</b>{{ user.nickname }}</span>
                {% if user == current_user %}
                    &nbsp;&nbsp;<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">编辑资料</a>
                {% endif %}
                <br/>
                <span class = "badge">已使用： {{ user.used // 1048576 }} M </span>
                <span class = "badge">云盘容量： {{ user.maxm // 1048576 }} M </span>
                <br/>
                {% if current_user.is_administrator() or current_user == user %}
                    <span><b>注册邮箱：</b><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
                {% endif %}

                <div style="width:500px;margin-left: auto;margin-right:auto">
                    {% if user.about_me %}
                        <span style="width:500px;text-align:left"><b>关于我：</b>{{ user.about_me }}</span>
                    {% else %}
                        <span><b>关于我：</b>这个人很懒，什么都没有留下</span>
                    {% endif %}
                </div>
                <span><b>注册日期：</b>{{ moment(user.member_since).format('L') }} &nbsp;&nbsp;&nbsp;
                    <b>上次登录：</b>{{ moment(user.last_seen).fromNow() }}.</span>
                <br/>
                <span>
                    <!--积分：<span class="badge">{{ user.score }}</span>-->
                    <a href="{{ url_for('.followers', id=user.uid) }}"><b>关注者：</b><span class="badge">{{ user.followers.count()-1 }}</span></a>&nbsp;&nbsp;
                    <a href="{{ url_for('.followed_by', id=user.uid) }}"><b>{% if current_user==user %}我{% else %}他{% endif %}关注的：</b><span class="badge">{{ user.followed.count()-1 }}</span></a>&nbsp;&nbsp;
                    {% if current_user.is_authenticated and user != current_user and user.is_following(current_user) %}
                    | <span class="label label-default"><b>该用户已关注你</b></span>
                    {% endif %}
                </span>

                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <a href="{{ url_for('.follow', id=user.uid) }}" class="btn btn-primary">关注他</a>
                    {% else %}
                        <a href="{{ url_for('.unfollow', id=user.uid) }}" class="btn btn-default">取消关注</a>
                    {% endif %}
                    <a href="{{ url_for('main.chat', id=user.uid) }}" class="btn btn-success">私信</a>
                {% endif %}

                {% if current_user.is_administrator() %}
                    <a class="inline btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.uid) }}">编辑资料 [管理员]</a>
                {% endif %}
                <br/>
            </div>

            <hr/>

            <div style="text-align:left">
                <footer>
                    <h3>用户 {{ user.nickname }} 发布了 {{ share_count }} 项共享资源</h3>
                </footer>
                {% include 'main/_userfiles.html' %}
            </div>

            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'main.user', id=user.uid) }}
                </div>
            {% endif %}
        </header>
    </div>
</section>
{% endblock %}