{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云 - {{ rootfile.owner.nickname }} 的共享资源{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{% if current_user.is_authenticated %}{{ rootfile.owner.nickname }} 的共享资源 {{ rootfile.filename }}{% endif %}</h1>
</div>
<div class="row">
    <div class="col-md-7">
    {% if _type== "all" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='all', key=key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">全部</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='all', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">全部</button>
    </a>
    {% endif %}

    {% if _type== "music" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='music', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">音乐</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='music', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">音乐</button>
    </a>
    {% endif %}

    {% if _type== "video" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='video', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">视频</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='video', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">视频</button>
    </a>
    {% endif %}

    {% if _type== "document" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='document', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">文档</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='document', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">文档</button>
    </a>
    {% endif %}

    {% if _type== "photo" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='photo', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">图片</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='photo', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">图片</button>
    </a>
    {% endif %}

    {% if _type== "compress" %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='compress', key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-success">压缩文件</button>
    </a>
    {% else %}
    <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='compress', key =key,  _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
        <button type="button" class="btn btn-default">压缩文件</button>
    </a>
    {% endif %}

    {% if _order == "time" %}
        {% if _direction == "front" %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,  _linkpass= rootfile.linkpass, path=path,
                 order='time', direction='reverse', expiration=3600)) }}">
            <button type="button" class="btn btn-primary">按时间排序</button>
        </a>
        {% else %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,_linkpass= rootfile.linkpass, path=path,
                 order='time', direction='front', expiration=3600)) }}">
            <button type="button" class="btn btn-warning">按时间排序</button>
        </a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,  _linkpass= rootfile.linkpass, path=path,
                 order='time', direction='front', expiration=3600)) }}">
            <button type="button" class="btn btn-default">按时间排序</button>
        </a>
    {% endif %}

    {% if _order == "name" %}
        {% if _direction == "front" %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,  _linkpass= rootfile.linkpass, path=path,
                 order='name', direction='reverse', expiration=3600)) }}">
            <button type="button" class="btn btn-primary">按名称排序</button>
        </a>
        {% else %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,  _linkpass= rootfile.linkpass, path=path,
                 order='name', direction='front', expiration=3600)) }}">
            <button type="button" class="btn btn-warning">按名称排序</button>
        </a>
        {% endif %}
    {% else %}
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key,  _linkpass= rootfile.linkpass, path=path,
                 order='name', direction='front', expiration=3600)) }}">
            <button type="button" class="btn btn-default">按名称排序</button>
        </a>
    {% endif %}
    </div>

    <div class="col-md-3" style="text-align:right">
        <form method="POST" action="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='all', key =form.key.data,_linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
            {{ form.hidden_tag() }}
            <div class="row">
                {{ form.key(class="form-control", placeholder="根据关键字检索文件") }}
            </div>
        </form>
    </div>
    <div class="col-md-2" style="text-align:right">
        <a href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='all', key ='' ,_linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}">
            {% if key == '' %}
                <button type="button" class="btn btn-default">清空筛选条件</button>
            {% else %}
                <button type="button" class="btn btn-success">清空筛选条件</button>
            {% endif %}
        </a>
    </div>
</div>

{% if _type == "all" %}
<div class="link-block">
    路径：
    {% for __ipath, _pathView in pathlists %}
        <a class="link-item" href="{{ url_for('main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type='all', key ='', _linkpass= rootfile.linkpass, path=__ipath,
                 order=_order, direction=_direction, expiration=3600)) }}">
            {{ _pathView }}</a>
    {% endfor %}
</div>
{% endif %}
<div class="post-tabs">
    {% if files %}
    {% include 'main/_sharedfiles.html' %}
    {% else %}
        {% if key == '' %}
            <h3 class="text-warning">这里什么都没有哦~</h3>
        {% else %}
            <h3 class="text-warning">没有检索到相关文件</h3>
        {% endif %}
    {% endif %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'main.view_do', token = current_user.generate_view_token(
                 rootid=rootfile.uid, type=_type, key =key, _linkpass= rootfile.linkpass, path=path,
                 order=_order, direction=_direction, expiration=3600)) }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
