{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}顶点云 - 管理员{% endblock %}
{% block page_content %}
<section id="top" class="three">
    <div class="container">
        <header>
            <br/>
            <h2>管理员界面</h2>
            <br/>
            <p><small><a href="{{ url_for('main.moderate_files')}}">管理用户文件</a></small></p>
            <p><small><a href="{{ url_for('main.moderate_comments')}}">管理用户评论</a></small></p>
            <br/>
        </header>
    </div>
</section>
{% endblock %}
