{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}顶点云 - 确认您的操作{% endblock %}

{% block page_content %}
<section id="top" class="three">
    <div class="container">
        <header>
            <h2>确认您的删除操作</h2>
            {{ wtf.quick_form(form) }}
            </br>
            <a class="btn btn-danger" href="{{ url_for('main.delete_file_confirm',token=token, _external=True) }}">确认删除</a>
            <a class="btn btn-default" style="margin-left:15px" href="{{ url_for('main.file',id=file.uid, _external=True) }}">取消</a>
        </header>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

