{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云 - Fork 到{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <div style="text-align:left">
                {% if _file %}
                <h3>将用户 <a href="{{ url_for('main.user', id=_file.ownerid, _external=True) }}">{{ _file.owner.nickname }}</a>
                    {% if _file.isdir %}
                    的目录
                    {% else %}
                    的文件
                    {% endif %}
                    <a href="{{ url_for('main.file', id=_file.uid, _external=True) }}">{{ _file.filename }}</a> Fork 到 {{ _path }}</h3>
                {% endif %}
            </div>

            <div style="text-align:right">
                {% if current_user.can(Permission.WRITE_ARTICLES) %}
                    <a href="{{ url_for('main.fork_check', token = current_user.generate_fork_token(_file.uid, _path, _pass, expiration=3600), _external=True) }}">
                        <button type="button" class="btn btn-success">确认 Fork</button>
                    </a>
                {% endif %}

                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        选择排序方式
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% if _direction == "front" %}
                            <a class="dropdown-item" href="{{ url_for('main.fork_do',id=_file.uid,  _pass=_pass,order='time', path=_path, direction='reverse', _external=True) }}">按时间排序</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('main.fork_do',id=_file.uid,  _pass=_pass,order='time', path=_path, direction='front', _external=True) }}">按时间排序</a>
                        {% endif %}

                        {% if _direction == "front" %}
                            <a class="dropdown-item" href="{{ url_for('main.fork_do',id=_file.uid,  _pass=_pass,order='name', path=_path, direction='reverse', _external=True) }}">按名称排序</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ url_for('main.fork_do',id=_file.uid, _pass=_pass, order='name', path=_path, direction='front', _external=True) }}">按名称排序</a>
                        {% endif %}
                  </div>
                </div>

            </div>

            <div style="text-align:left">
                <div class="link-block">
                    当前路径：
                    {% for __path, _pathView in pathlists %}
                        <a class="link-item" href="{{ url_for('main.fork_do',  path=__path, id=_file.uid, _pass=_pass, direction = _direction, order=_order, _external=True) }}">
                            {{ _pathView }}</a>
                    {% endfor %}
                </div>
            </div>

            <div>
                {% if files %}
                {% include 'main/fork/_forkownfiles.html' %}
                {% else %}
                <h3>已经不可以再继续了</h3>
                {% endif %}
            </div>

            {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.fork_do', _pass=_pass,
                    order=_order, direction=_direction, path=_path, id=_file.uid) }}
            </div>
            {% endif %}
        </header>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
