{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}顶点云{% endblock %}

{% block page_content %}
<section id="top" class="two">
    <div class="container">
        <header>
            <div>
                <form method="POST" action="{{ url_for('main.index', _external=True) }}">
                    {{ form.hidden_tag() }}
                    {{ form.key(class="form-control", placeholder="根据关键字检索文件") }}
                </form>
            </div>

            <div class="post-tabs">
                <ul class="nav nav-tabs">
                    <li {% if not show_followed %} class="active"{% endif %}>
                        <a href="{{ url_for('.show_all', _external=True) }}"><span style="font-size:80%">全部</span></a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li {% if show_followed %} class="active"{% endif %}>
                            <a href="{{ url_for('.show_followed', _external=True) }}"><span style="font-size:80%">我关注的</span></a></li>
                    {% endif %}
                </ul>

                {% if _len > 0 %}
                    {% include 'index/_files.html' %}
                {% else %}
                    <h2 class="text-warning">未检索到相关文件</h2>
                {% endif %}
            </div>
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, '.index') }}
                </div>
            {% endif %}
        </header>
    </div>
</section>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
